/* DataTable.module.css */
.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Mobile Styles */
@media (max-width: 600px) {

    .data-table th,
    .data-table td {
        display: block;
        width: 100%;
        white-space: nowrap;
    }

    .data-table th {
        text-align: left;
        padding: 8px;
    }

    .data-table td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }
}